body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  padding: 0;
  margin: 0;
  height: max-content;
}

video {
  height: 100vh;
  max-width: unset;
  min-height: 100%;
}

.main-content {
  display: flex;
  justify-content: center;
}

.button-section {
  display: none;
  position: relative;
  top: -100px;
  background-color: #fff0;
}

.content {
}

body .button-section {
  display: none;
}

body:hover .button-section {
  text-align: center;
  display: block;
  position: relative;
  top: -100px;
  background-color: #fff;
}
